body {
	background: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1613714137_1-p-derevyannii-fon-dlya-prezentatsii-1.jpg);
	text-align: center;
	font-family: 'Times New Roman', sans-serif;
}

.intro {
	margin: 30px 0px;
	font-weight: bold;
}

h1 {
	color: #a5e4b4;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 50px;
}

p {
	font-weight: 600;
	font-size: 25px;
}

#first {
	margin-top: 20px;
	color: #e4fa81;
}

#second {
	color: #e4fa81;

}

#third {
	color: #e4fa81;
	margin-bottom: 50px;
}

#enter {
	border: none;
	padding: 5px 15px;
	border-radius: 5px;
	color: #55350c;
	background-color: #08ff8c;
	transition: all 0.75s ease;
	-webkit-transition: all 0.75s ease;
	-moz-transition: all 0.75s ease;
	-ms-transition: all 0.75s ease;
	-o-transition: all 0.75 ease;
	font-weight: normal;
}

#enter:hover{
	background-color: #fd8080;
	color: #FFCD5D;
}

ul {
	text-align: left;
	margin-top: 20px;
}

li {
	list-style: none;
	padding: 10px 20px;
	color: #15b800;
	text-transform: capitalize;
	font-weight: 600;
	border: 2px solid #5a3925;
	border-radius: 5px;
	margin-bottom: 10px;
	background: #fdff88;
	transition: all 0.75s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5 ease;
}

li:hover {
	background: #fd8080;
	color: #FFCD5D;
}

li > button {
	font-weight: normal;
	background: none;
	border: none;
	float: right;
	color: #589c18;
	font-weight: 800;
}

input {
	border-radius: 5px;
	min-width: 65%;
	padding: 5px;
	border: none;
}

.done {
	background: #9fc48e !important;
	color: #662e00;
}

.delete {
	display: none;
}
/*Фон при всплывающем окне*/
.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  display: none; }

/*Всплывающее окно*/
.popup {
  border-radius: 20px;
  position: absolute;
  width: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  box-sizing: border-box;
  background-color: #d1f842;
  color: #791f1f; }

.close-popup {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 23px;
  height: 23px;
  cursor: pointer; }

.close-popup:before {/*Крестик*/
  content: '';
  background-color: #fff;
  position: absolute;
  height: 1px;
  width: 31px;
  top: 11px;
  left: -4px;
  transform: rotate(-45deg); }

.close-popup:after {
  content: '';
  background-color: #fff;
  position: absolute;
  height: 1px;
  width: 31px;
  top: 11px;
  transform: rotate(45deg);
  left: -4px; }
